# These files are text and should be normalized (convert crlf =&gt; lf)
*.feature    text
*.html       text
*.java       text
*.properties text
*.txt        text
*.xml        text
*.css        text
*.md         text
*.json       text
*.js         text
*.readme     text
*.me         text
*.pom        text
*.csv        text


# Images should be treated as binary
*.png     binary
*.ico     binary
*.bmp     binary
*.jpg     binary
*.jpeg    binary
*.gif     binary
